@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Inter", Arial, Helvetica, sans-serif;
}

body {
    background-color: rgba(128, 128, 128, 0.247);
    height: auto;
    max-width: 1000px;
    margin: auto;
}

header {
    width: 100%;
    background-color: white;
}

nav {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.178);
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
}

#logo-top {
    height: 13vh;
    width: 25%;
    margin-left: 10px;
    display: flex;
    position: relative;
}

img {
    height: auto;
    width: auto;
}

#menu {
    height: auto;
    width: 75%;
    display: flex;
    position: relative;
    flex-direction: row-reverse;
}

#menu li {
    height: 50%;
    width: auto;
    display: inline-block;
    flex-direction: row-reverse;
    margin: 25px 25px 0px 0px;
    color: gray;
    font-size: .8rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

#frete-gratis {
    height: auto;
    width: 100%;
    padding: 10px 0px;
    background-color: rgb(194, 24, 91);
    color: white;
    font-size: .8rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

main {
    background-color: white;
}

h1 {
    color: rgb(77, 77, 77);
    font-size: 1.6rem;
    font-weight: 500;
    width: 100%;
    padding: 150px 40px 10px 40px;
}

article {
    color: gray;
    display: flex;
    position: relative;
    padding: 20px 40px;
    gap: 50px;
}

form {
    height: auto;
    max-width: 70%;
    display: inline-block;
    position: relative;
}

label {
    margin: 10px 0px 10px 0px;
}

.write-type {
    width: 100%;
    margin: 5px 0px 5px 0px;
    border-color: rgba(128, 128, 128, 0.538);
}

.descricao {
    display: block;
}

.checkbox {
    max-width: 25vw;
    display: inline-block;
}

.box {
    margin-left: 10px;
}

.radiobox {
    margin: 10px 0px 10px 0px;
}

#upload {
    background-color: gray;
    color: white;
    padding: 2px 25px;
    margin-left: 5px;
    cursor: pointer;
}

#upload {
    background-color: gray;
    color: white;
    font-size: .8rem;
    padding: 2px 25px;
    cursor: pointer;
    transition: .3s;
    border: solid 1px gray;
}

#upload:hover {
    background-color: white;
    color: gray;
    font-weight: 500;
}

input[type="file"] {
    display: none;
}

button {
    background-color: rgb(194, 24, 91);
    font-size: 1rem;
    font-weight: 700;
    border: solid 1px rgb(194, 24, 91);
    width: 100%;
    margin-top: 20px;
    display: flex;
    cursor: pointer;
    transition: .3s;
}

a {
    text-decoration: none;
    color: white;
    height: 100%;
    width: 100%;
    padding: 2px 0px;
}

a:hover {
    background-color: white;
    color: rgb(194, 24, 91);
}

#text-container {
    display: inline-block;
    position: relative;
    height: auto;
    width: 38%;
    text-align: left;
}

#text-container > p{
    color: rgb(75, 74, 74);
    margin-bottom: 10px;
    font-size: .8rem;
    font-weight: 400;
}

footer {
    font-size: .6rem;
    font-weight: 400;
    height: auto;
    width: 100%;
    display: flex;
    position: relative;
    background-color: rgb(194, 24, 91);
}

#logo-bottom {
    background-color: rgb(194, 24, 91);
    color: white;
    height: auto;
    width: 45%;
    margin: 5px 0px 20px 60px;
    flex-wrap: wrap;
}

#footer-list {
    height: auto;
    width: 100%;
    margin-left: 15vw;
    display: flex;
    position: relative;
    align-items: center;
    gap: 7vw;
    line-height: .8rem;
}

footer ul {
    background-color: rgb(194, 24, 91);
    color: white;
    list-style-type: none;
}