@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bebas+Neue&family=Indie+Flower&family=Passion+One:wght@400;700;900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Sriracha&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    border: solid 3px red;
    background-color: white;
    font-family: "Roboto mono", Arial, Helvetica, sans-serif;
    margin: auto;
    max-width: 1000px;
    width: 100%;
}

header {
    background-color: white;
    padding: 10px 40px;
    margin-bottom: 10px;
    display: flex;
    position: relative;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.315);
}

header > h1 {
    font-size: 2rem;
    color: rgb(88, 88, 88);
    width: 90px;
    margin: 10px;
}

header > p {
    font-size: 0.8rem;
    font-weight: bold;
    color: rgb(88, 88, 88);
    width: 80px;
    align-self: center;
}

header ul {
    width: 90%;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-end;
    align-self: center;

}

.menu {
    width: 40px;
    border: solid 2px gray;
    margin: 5px;
    position: relative;
    flex-wrap: wrap;
}

main {
    background-color: white;
}

#principal {
    width: 90%;
    display: flex;
    position: relative;
    margin: auto;
    padding-top: 10px;
}

#l-imageL {
    background-image: url('firstimage.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 80vh;
    width: 100%;
    display: flex;
    position: relative;
}

#container {
    margin: 20px 0px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#l-imageM1 {
    height: 30vh;
    width: 100%;
}

#l-imageM2 {
    height: 30vh;
    width: 100%;
}

.sub-container {
    background-color: rgba(156, 154, 154, 0.336);
    color: rgba(68, 67, 67, 0.952);
    max-width: 47vh;
    font-size: 0.6rem;
    display: inline-block;
    margin: auto;
}

.sub-container p {
    padding: 5px;
    text-align: justify;
}

.sub-container h3 {
    font-size: 1rem;
    padding: 5px;
    text-align: justify;
}

#l-banner{
    margin: 24px 0px;
}

#option {
    padding: 10px 40px 50px 40px;
}

section#l-containerimage > div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#l-imageP1 {
    background-image: url('imagep1.jpg');
    background-size: 100%;
    background-position: center;
    height: 12vh;
    width: 100%;
    margin: auto;
    display: flex;
    position: relative;
}

#l-imageP2 {
    background-image: url('imagep2.jpg');
    background-size: 100%;
    background-position: center;
    height: 12vh;
    width: 100%;
    margin: 10px 0;
}

#l-imageP3 {
    background-image: url('imagep3.jpg');
    background-size: 100%;
    background-position: center;
    height: 12vh;
    width: 100%;
    margin: 10px 0px;
}

section > div > h2 {
    font-size: 1.3rem;
    font-weight: normal;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.473);
    display: flex;
}

section > div > #l-banner {
    color: rgb(87, 87, 87);
}

footer {
    background-color: rgba(0, 0, 0, 0.822);
    color: white;
    padding: 20px;
    display: flex;
    position: relative;
    align-items: center;
}

#location {
    width: 30vw;
    display: flex;
    position: relative;
    flex-wrap: wrap;
}

#text-location {
    height: 20vh;
    width: 50vw;
    display: flex;
    position: relative;
    flex-direction: row-reverse;
}

#logo {
    height: 3vh;
    width: 6vw;
    display: flex;
    position: relative;
    gap: 10px;
}

footer p {
    font-size: 0.6rem;
    width: 25vh;
    line-height: 1.2rem;
}